:root {
	--primary-color: #0d1318;
	--secondary-color: #ecf0f1;
	--tertiary-color: #ff6b08;
	--quaternary-color: #fbd8c2;
	--quinary-color: #3a4148;
	--header-bg-color: #131c23;
	--dark-global-bg-color: #11283e;
	--success-color: #00c851;
	--error-color: #fd1f08;
	--warning-color: #ff9f1a;
	--comment-subline-color: #c8c8c8;
	--global-radius: 0.25rem;
	--global-padding-btn: 13px 25px;
}
