{% extends 'admin/admin.html.twig' %}

{% block body %}

    <div class="row panel">

        {% block sidebar %}
            {% include "admin/sidebar.html.twig" %}
        {% endblock %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
