<header>
	<div>
	</div>
	<nav class="topbar__nav">

	</nav>
	<div class="topbar__login">
        <a href="{{ path('home') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Quitter</a>
        {# <a class="btn" href="{{ path('security_logout') }}">Deconnexion</a> #}
	</div>
</header>
