{% block sidebar %}
	<nav id="admin-sidebar">
		<ul>
			<li><a href="{{ path('admin_post_list') }}">Articles</a></li>
			<li><a href="{{ path('admin_tag_list') }}">Tags</a></li>
			<li><a href="#">Media</a></li>
		</ul>
	</nav>
{% endblock %}
