<div class="comments">
    <h3>Commentaires</h3>
	<div class="comments__form">
		{{ form(comments.form) }}
	</div>
    {% for comment in comments.posted %}
    <section class="comment">
        <div class="comment__header-info">
            <h5>{{ comment.authorName }}</h5>
            <span>—</span>
            <div class="comment__created-at">{{ comment.createdAt|date() }}</div>
        </div>
        <div class="comment__content">{{ comment.content }}</div>
    </section>
    {% endfor %}
</div>