{# From my codepen: https://codepen.io/hugoderre/pen/vYePwom #}

<div class="neoctagon">
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
	<div class="outer">
		<div class="inner"></div>
	</div>
</div>
