<section class="slider-wrapper" data-controller="slides">
	<button class="slide-arrow" id="slide-arrow-prev">
		&#8249;
	</button>
	<button class="slide-arrow" id="slide-arrow-next">
		&#8250;
	</button>
	<ul class="slides-container" id="slides-container">
		{% for image in images %}
			<li class="slide">
				<img src="{{ uploadsBasePath ~ image.fileName }}" alt="">
			</li>	
		{% endfor %}
	</ul>
</section>
