.btn {
	display: inline-block;
	color: var(--secondary-color);
	background-color: var(--tertiary-color);
	border: 1px solid var(--tertiary-color);
	border-radius: var(--global-radius);
	padding: var(--global-padding-btn);
	cursor: pointer;
}
