.card {
    display: flex;
    flex-direction: column;
    background-color: #38383e;
    padding: 18px;
    text-align: left;
    color: $text-secondary;
    &__body {
        margin-top: 16px;
        &-date {
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 8px;
            font-style: italic;
        }
        &-excerpt {
            margin-top:20px;
        }
    }
    &__footer {
        &__tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 18px;
            gap: 12px;
            &-tag {
                background-color: #fff;
                color: $text-primary;
                padding: 5px;
                // border-radius: 5px;
            }
        }
        &__socials {
            display: flex;
            margin: auto;
            margin-top: 10px;
            gap: 12px;
        }
    }
}