@import "./../abstracts/variables";

.comments {
	color: var(--primary-color);
	line-height: 1.6;
	margin-top: 30px;

	h3 {
		margin: 20px 0;
	}

	&__form {
		margin-bottom: 50px;

		.form-buttons {
			flex-direction: row;
			gap: 10px;
			margin-top: 15px;

			#comment_cancel {
				display: none;
			}
		}
	}

	.comment {
		height: 100%;
		margin-top: 20px;
		display: flex;
		gap: 18px;

		&__left {
			display: flex;
			flex-direction: column;
			gap: 15px;

			&__avatar {
				width: 50px;
				height: 50px;
				min-height: 50px;
				border-radius: 100%;
				overflow: hidden;
			}

			&__subline {
				flex-grow: 1;
				height: 90%;
				width: 5px;
				margin: auto;
				background-color: var(--comment-subline-color);
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}

				&--last {
					visibility: hidden;
				}
			}
		}

		&__right {
			flex: 1;

			h5 {
				font-weight: bold;
			}

			&__created-at {
				font-size: 14px;
				color: var(--quinary-color);
				opacity: 0.8;
			}

			&__content {
				&__inner {
					margin-bottom: 40px;

					&__reply-btn {
						display: flex;
						align-items: baseline;
						width: fit-content;
						gap: 5px;
						color: var(--quinary-color);
						font-size: 14px;
						font-weight: bold;
						cursor: pointer;
					}
				}
				margin-top: 15px;
			}
		}
	}
}
