@import "./../abstracts/variables";

.comments {
	color: $primary;
	line-height: 1.6;
	margin-top: 80px;
	h3 {
		margin: 20px 0;
	}
	&__form {
		margin-bottom: 20px;
	}
	.comment {
		margin: 45px 0;

		&__header {
			display: flex;
			align-items: center;
			margin-bottom: 16px;
			gap: 18px;
			&__avatar {
				width: 50px;
				height: 50px;
				border-radius: 100%;
				overflow: hidden;
			}
			&__info {
				h5 {
					font-weight: bold;
				}
				&__created-at {
					font-size: 14px;
					color: $quinary;
					opacity: 0.8;
				}
			}
		}
	}
}
