.dark-mode-button {
	position: absolute;
	top: 25px;
	right: 20px;
	
	@media (max-width: 768px) {
		top: 32px;
	}

	&__toggle-wrapper {
		--darkmode-toggle-height: 1.5rem;
		--darkmode-toggle-width: calc(var(--darkmode-toggle-height) * 2);
		position: relative;
		background: #e8eced;
		width: var(--darkmode-toggle-width);
		height: var(--darkmode-toggle-height);
		border-radius: calc(var(--darkmode-toggle-height) / 2);
		display: flex;
		align-items: center;
		justify-content: space-around;
		border: 1px solid #c9c9c9;
		@media (max-width: 768px) {
			--darkmode-toggle-height: 1.5rem;
		}
	}

	&__toggle-checkbox {
		opacity: 0;
		height: var(--darkmode-toggle-height);
		width: var(--darkmode-toggle-width);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
	}

	&__toggle-circle {
		position: absolute;
		top: 0;
		left: 0;
		right: calc(var(--darkmode-toggle-width) / 2);
		height: var(--darkmode-toggle-height);
		width: calc(var(--darkmode-toggle-width) / 2);
		border-radius: 50%;
		background: #fff;
		border: 2px solid #ff6b08;
		box-sizing: border-box;
		box-shadow: 0 0 calc(var(--darkmode-toggle-width) / 10) #ff6b08;
		transition: 0.1s ease-in;
	}

	&__toggle-checkbox:checked + &__toggle-circle {
		left: calc(var(--darkmode-toggle-width) / 2);
		right: 0;
	}

	.icon {
		color: black;
		font-size: calc(var(--darkmode-toggle-height) * 0.6);
		line-height: 0;

		&.icon_sun {
			color: #ff6b08;
			transition: 0.1s ease-in;
		}
	}
}
