.notice {
    padding: 10px;
    background: white;
    color: black;
    margin: 20px 0;  
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--secondary-color);

    &-success {
        border-bottom-color: var(--success-color);
    }

    &-error {
        border-bottom-color: var(--error-color);
    }

    &-warning {
        border-bottom-color: var(--warning-color);
    }
}