@import "./../abstracts/variables";
@import "./../layout/grid-columns";

.shape-divider {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
	line-height: 0;
	&__top {
		@include global-grid-columns-template;
		width: 100%;
		background-color: $primary;
		& > div {
			grid-column-start: 2;
			margin: 50px 0;
		}
	}
	svg {
		display: block;
		width: calc(100% + 1.3px);
		height: 62px;
		margin-top: -1px;
	}
	.shape-fill {
		fill: $primary;
	}
}
