.topbar {
	background-color: $primary;
	grid-column: 1 / span 3;
	display: grid;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	@media screen and (max-width: 768px) {
		grid-template-rows: 1fr 1fr;
	}
	&__logo {
		color: $tertiary;
		display: flex;
		padding: 0 30px;
		align-items: center;
		justify-content: center;
		font-size: 22px;
		letter-spacing: 0.1rem;
	}
	&__nav {
		grid-column-start: 2;
		@media screen and (max-width: 768px) {
			grid-column-start: inherit;
			grid-row-start: 2;
		}
		overflow: auto;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			@media screen and (max-width: 380px) {
				justify-content: flex-start;
			}
			li {
				height: 100%;
				@media screen and (max-width: 768px) {
					font-size: 15px;
				}
				a {
					color: $tertiary;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 5px;
					width: 100%;
					height: 100%;
					padding: 20px;
					box-sizing: border-box;
					@media screen and (max-width: 768px) {
						padding: 20px 15px;
					}
					&:hover,
					&.active {
						background-color: $quaternary;
						color: $tertiary;
						transition: 0.5s;
					}
				}
			}
		}
	}
	&__login {
		// grid-column-start: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	hr {
		background-color: $tertiary;
		height: 1px;
		border: 0;
		grid-column: 1 / -1;
		margin: 0;
	}
}
