{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block content %}

	<div class="container">
		
		<section class="row">
			{% for post in posts %}
				<article class="col-md-4 col-sm-6 col-12">
				<a href="{{ path('post', {slug: post.slug}) }}" class="">
					<div class="card">
						<div class="card__header">
							<h3 class="card__header-title">{{ post.title }}</h3>
						</div>
						<div class="card__body">
							<p class="card__body-text">{{ post.excerpt }}</p>
						</div>
						<div class="card__footer">
							<div class="card__footer__tags">
								<img src="{{ assets }}" width="500" height="500" alt="">
							</div>
							<div class="card__footer__socials">
								<div class="card__footer__socials__likes">
									<i class="fa-solid fa-heart"></i>
									<span>0</span>
								</div>
								<div class="card__footer__socials__shares">
									<i class="fa-solid fa-share"></i>
									<span>0</span>
								</div>
								<div class="card__footer__socials__comments">
									<i class="fa-solid fa-comments"></i>
									<span>0</span>
								</div>
							</div>
						</div>
					</div>
				</a>
				</article>
			{% endfor %}
		</section>
	</div>

{% endblock %}
