{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block content %}
    
	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="col-md-4 col-sm-6 col-12">
					<div class="card">
						<div>
							<img src="{{ post.thumbnail }}" alt="Card image cap">
							<div class="card-body" style="">
								<div class="card-content">
									<h5 class="card-title">{{ post.title }}</h5>
									<p class="card-text">{{ post.excerpt }}</p>
								</div>
							</div>
						</div>
						<a href="{{ path('post', {slug: post.slug}) }}" class="">Lire l'article</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
