{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block meta_description %}Articles sur divers sujets touchant au monde du développement web et à l'informatique en général. Ces articles se veulent accessibles à tout public curieux de ce domaine, amateur comme professionnel.{% endblock %}

{% block content %}

	<div class="blog-container">
		<div class="page-title">
			<i class="fa-solid fa-newspaper"></i>
			<h1>Blog</h1>
		</div>
		<section class="row blog-list">
			{% for post in posts %}
				{% include "partials/block/post-card.html.twig" %}
			{% endfor %}
		</section>
	</div>

{% endblock %}
