body {
    background-color: $primary;
    color:$secondary;
}

p {
    margin-bottom: 0;
}

.body-container {
    margin-top: 50px;
}

#admin-sidebar {
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    ul {
        li {
            border: 1px solid $secondary;
            margin: 0px;
            &:not(:first-child) {
                margin-top: -1px;
            }
            a {
                margin: 0px; 
                display: block; 
                width: 100%; 
                height: 100%;
                padding: 20px;
            }
        }
    }
}
.admin-list {
    &__table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-top: 20px;
        thead {
            tr {
                th {
                    border: 1px solid $secondary;
                    padding: 10px;
                    text-align: left;
                    &:not(:first-child) {
                        border-left: none;
                    }
                }
            }
        }
        tbody {
            tr {
                background-color: $quinary;
                th {
                    border: 1px solid $secondary;
                    padding: 10px;
                    text-align: left;
                }
                td {
                    border: 1px solid $secondary;
                    padding: 10px;
                    text-align: left;
                    h2 {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    
        
    }
}