body {
    background-color: $primary;
    color:$secondary;
    & > .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 80px 1fr 200px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        & > .content {
            grid-row-start: 2;
            grid-column-start: 2;
        }
    }
}