body {
    background-color: $secondary;
    color:$text-dark-color;
    max-width: 1200px;
    margin: auto;
}

#login {
    label {
        color: $text-light-color;
    }
    & > div {
        margin-bottom: 10px;
    }
}