.home {
	.container > .content {
		margin-top: 60px;
		hr {
			width: 50%;
			height: 1px;
			margin: 50px auto;
			background-color: var(--tertiary-color);
			border: 0;
		}
		h1 {
			font-size: 52px;
			@media screen and (max-width: 768px) {
				font-size: 46px;
			}
		}
		h2 {
			color: var(--tertiary-color);
			margin: 45px 0 30px 0;
		}
	}
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 60px;
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
		}
		&__img-me {
			position: relative;
			.img-me__wrapper {
				box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
				-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
				clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

				img {
					width: 283px;
					height: 282px;
				}
			}
			figcaption {
				margin-top: 5px;
				font-size: 16px;
				color: var(--primary-color);
				font-style: italic;
				text-align: center;
			}
		}
		&__title {
			h1 {
				color: var(--primary-color);
				text-decoration: underline;
				text-decoration-color: var(--tertiary-color);
				text-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
			}
		}
	}
	&__content {
		&__blog-summary {
			&__list {
				list-style: none;
				&__blog-item::before {
					content: "💻 ";
				}
				&__project-item::before {
					content: "🚧 ";
				}
			}
			a {
				text-decoration: underline;
				text-decoration-color: var(--tertiary-color);
				text-underline-offset: 2px;
			}
		}
		#newsletter {
			display: flex;
			align-items: flex-start;
			gap: 7px;
			margin: 25px 0;
			height: 42px;
			@media screen and (max-width: 480px) {
				flex-direction: column;
			}
			& > div {
				height: 100%;
				margin-right: 30px;
			}
			.form-group {
				margin-bottom: 0;
			}
			input {
				width: 100%;
				margin-top: 0;
			}
			button {
				padding: 10px 20px;
				font-size: 16px;
				height: 100%;
			}
		}
	}
}
