.home {
	.container > .content {
		margin-top: 60px;
		hr {
			width: 50%;
			height: 1px;
			margin: 50px auto;
			background-color: $tertiary;
			border: 0;
		}
		h2 {
			color: $tertiary;
			margin: 45px 0 30px 0;
		}
	}
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
		}
		&__img-me {
			max-width: 300px;
			.img-me__wrapper {
				box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
				clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);

				img {
					width: 100%;
				}
			}
			figcaption {
				margin-top: 5px;
				font-size: 16px;
				color: $primary;
				font-style: italic;
				text-align: center;
			}
		}
		&__title {
			h1 {
				color: $primary;
				text-decoration: underline;
				text-decoration-color: $tertiary;
				text-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
			}
		}
	}
	&__content {
		&__blog-summary {
			&__list {
				list-style: none;
				&__blog-item::before {
					content: "💻 ";
				}
				&__project-item::before {
					content: "🚧 ";
				}
			}
			a {
				text-decoration: underline;
				text-decoration-color: $tertiary;
				text-underline-offset: 2px;
			}
		}
		#newsletter {
			display: flex;
			align-items: flex-start;
			gap: 7px;
			margin: 15px 0;
			height: 42px;
			@media screen and (max-width: 480px) {
				flex-direction: column;
			}
			& > div {
				height: 100%;
				margin-right: 30px;
			}
			.form-group {
				margin-bottom: 0;
			}
			input {
				width: 100%;
				margin-top: 0;
			}
			button {
				padding: 10px 20px;
				font-size: 16px;
				height: 100%;
			}
		}
	}
}
