@use "./../components/shape-divider";
@use "./../components/comment.scss";

.post {
	overflow-x: hidden;
	h1 {
		color: var(--secondary-color);
		@media screen and (max-width: 768px) {
			font-size: 46px;
		}
		@media screen and (max-width: 480px) {
			font-size: 40px;
		}
	}

	h2 {
		color: var(--tertiary-color);
	}

	.container > .content {
		min-width: 0;
		margin-top: 0;
		list-style: circle;
		word-break: break-word;
	}

	&__date {
		font-size: 18px;
		margin-top: 14px;
		color: var(--secondary-color);
		opacity: 0.8;
	}

	&__content {
		color: var(--primary-color);
		line-height: 1.6;
		margin-top: 50px;
	}
}
