@use "./../components/shape-divider";
@use "./../components/comment.scss";

.post {
	h1 {
		color: $secondary;
		margin-top: 50px;
	}

	.content {
		min-width: 0;
	}

	&__date {
		font-size: 18px;
		margin-top: 14px;
		color: $secondary;
		opacity: 0.8;
	}

	&__content {
		color: $primary;
		margin-top: 100px;
		line-height: 1.6;
	}
}
