.post {

    background-color: $secondary;

    h1 {
        color: $secondary;
        margin-top: 50px;
    }

    .content {
        min-width: 0;
    }

    &__date {
        font-size: 14px;
        opacity: 0.8;
    }

    &__content {
        color: $primary;
        margin-top: 150px;
        line-height: 1.6;
    }

    @import "../components/shape-divider";
    @import "../components/comments.scss";
}
