.privacy {
	&__container {
		margin-top: 80px;
		h1,
		h2 {
			margin: 1.5rem 0;
		}
		h1 {
			margin-bottom: 2.5rem;
		}
		li {
			list-style: disc inside;
		}
		hr {
			margin: 35px auto;
			border: none;
			border-bottom: 1px solid #dadada;
			max-width: 100px;
			border-bottom-width: 2px;
		}
	}
}
