<footer>
	{# <hr> #}
	<div class="footer__wrapper">
		<div class="footer__social">
			<a href="https://github.com/hugoderre" target="_blank" rel="noopener noreferrer" title="Github" class="footer__social-icon social-icon github-link">
				<i class="fa-brands fa-github"></i>
			</a>
		</div>
		<div class="footer__nav">
			{# <div classname={styles.container}>
				<div classname={styles.toggle_wrapper}>
					<input type="checkbox" id="dark-mode-switch" aria-label="dark mode toggle" classname={styles.toggle_checkbox} checked={isDarkMode} onchange={toggleDarkMode}/>
					<div classname={styles.toggle_circle}></div>
					<i classname={`${styles.icon} ${styles.icon_moon} fa-solid fa-moon`}></i>
					<i classname={`${styles.icon} ${styles.icon_sun} fa-solid fa-sun`}></i>
				</div>
			</div> #}
		</div>
		<div class="footer__terms">
			<a href="{{ path('privacy') }}" rel="noopener noreferrer">Politique de confidentialité</a>
			<span>Copyright &copy;Hugo Derré 2022 — Tous droits réservés.</span>
		</div>
	</div>
</footer>
