<footer>
    {# <hr> #}
    <div class="footer__wrapper">
        <div class="footer__social">
			<a href="https://github.com/hugoderre" target="_blank" rel="noopener noreferrer" title="Github" class="footer__social-icon social-icon github-link"><i class="fa-brands fa-github"></i></a>
		</div>
        <div class="footer__nav"></div>
        <div class="footer__terms">
            <a href="">Politique de confidentialité</a>
            <span>Copyright &copy;Hugo Derré 2022 — Tous droits réservés.</span>
        </div>
    </div>
</footer>