<header class="sticky-top">
	<nav class="py-1">
		<div class="container w-25 d-flex justify-content-evenly top-bar__container">
			<a class="py-2 d-none d-md-inline-block text-decoration-none" href="{{ path('blog') }}">Blog</a>
			<a class="py-2 d-none d-md-inline-block text-decoration-none" href="{{ path('home') }}">Kisouij</a>
			<a class="py-2 d-none d-md-inline-block text-decoration-none" href="#">Projets</a>
		</div>
	</nav>
</header>