<header class="sticky-top">
	<nav class="site-header  py-1">
		<div class="container d-flex">
			<a class="py-2 d-none d-md-inline-block" href="#">Blog</a>
			<a class="py-2 d-none d-md-inline-block" href="#">Portfolio</a>
		</div>
	</nav>
</header>