<header>
	<nav>
		<ul>
			<li><a class="" href="{{ path('blog') }}">Blog</a></li>
			<li><a class="" href="{{ path('home') }}">Kisouij</a></li>
			<li><a class="" href="#">Projets</a></li>
		</ul>
	</nav>
	<hr>
</header>
