{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}
{% block content %}
	<div class="privacy__container">
		<h1>Politique de confidentialité</h1>
		<h2>Introduction</h2>
		<p>Devant le développement des nouveaux outils de communication, il est nécessaire de porter une attention particulière à la protection de la vie privée. C’est pourquoi, nous nous engageons à respecter la confidentialité des renseignements personnels que nous collectons.</p>
		<hr>
		<h2>Collecte des renseignements personnels</h2>
		<p>Nous collectons les renseignements suivants :<br><br>
		
		Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et grâce à l’interactivité établie entre vous et notre site Web. Nous utilisons également, comme indiqué dans la section suivante, des fichiers témoins et/ou journaux pour réunir des informations vous concernant.</p>
		<hr>
		{# <h2>Publicité</h2>
			<p>Nous utilisons Google Adsense pour afficher des annonces sur notre site web. Google Adsense utilise des cookies pour personnaliser les annonces en fonction de vos intérêts et de votre comportement de navigation. Vous pouvez vous opposer à l'utilisation de ces cookies en configurant les paramètres de votre navigateur ou en visitant la page de désactivation de la publicité de Google. Nous collectons également des données de navigation pour optimiser les performances de notre site web et personnaliser votre expérience utilisateur. Ces données sont utilisées uniquement à des fins internes et ne sont pas partagées avec des tiers. Vous avez le droit de demander l'accès, la rectification ou l'effacement de ces données en nous contactant par e-mail à l'adresse : contact@hugoderre.fr</p>
		<hr> #}
		<h2>Formulaires et interactivité</h2>

		<p>Vos renseignements personnels sont collectés par le biais de formulaire, à savoir :<br><br>
		Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :
		<br>
		<br>
		<ul>
			<li>Statistiques</li>
		</ul>
		<br>
		<p>Vos renseignements sont également collectés par le biais de l’interactivité pouvant s’établir entre vous et notre site Web. Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
		<br>
		<ul>
			<li>Statistiques</li>
		</ul>
		<br>
		<hr>
		<h2>Fichiers journaux et témoins</h2>
		<p>Nous recueillons certaines informations par le biais de fichiers journaux (log file) et de fichiers témoins (cookies). Il s’agit principalement des informations suivantes :</p>
		<br>
		<ul>
			<li>Adresse IP</li>
			<li>Système d’exploitation</li>
			<li>Pages visitées et requêtes</li>
			<li>Heure et jour de connexion</li>
		</ul>
		<br>

		<p>Le recours à de tels fichiers nous permet :</p>
		<br>
		<ul>
			<li>Statistique</li>
		</ul>
		<br>
		<hr>
		<h2>Droit d’opposition et de retrait</h2>
		<p>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.<br>
		Le droit d’opposition s’entend comme étant la possiblité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte.<br><br>
		
		Le droit de retrait s’entend comme étant la possiblité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.<br><br>
		
		Pour pouvoir exercer ces droits, vous pouvez contacter :<br>
		
		Courriel : contact@hugoderre.fr</p>
		<hr>
		<h2>Droit d’accès</h2>
		<p>Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.<br>
		
		L’exercice de ce droit se fera via :<br>
		Courriel : contact@hugoderre.fr</p>
		<hr>
		<h2>Sécurité</h2>
		<p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.<br>
		Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>
		<br>
		<ul>
			<li>Protocole SSL (Secure Sockets Layer)</li>
		</ul>
		<br>
		<p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.</p>
	</div>
{% endblock %}
