{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}
{% block content %}
	<div class="privacy__container">
		<h1>Privacy Policy</h1>
		<h2>Introduction</h2>
		<p>In light of the development of new communication tools, it is necessary to pay particular attention to the protection of privacy. That's why we commit to respecting the confidentiality of the personal information we collect.</p>
		<hr>
		<h2>Collection of Personal Information</h2>
		<p>We collect the following information:<br><br>
			The personal information we collect is gathered through forms and through the interactivity established between you and our website. We also use, as indicated in the following section, cookies and/or logs to gather information about you.</p>
		<hr>
		<h2>Forms and interactivity:</h2>
		<p>Your personal information is collected through forms, namely:<br><br>
			We use the information collected for the following purposes:
			<br>
			<br>
			<ul>
				<li>Statistics</li>
			</ul><br>
		</p>
		<p>Your information is also collected through the interactivity that may be established between you and our website. We use the information collected for the following purposes:</p>
		<br>
		<ul>
			<li>Statistics</li>
		</ul>
		<br>
		<hr>
		<h2>Log files and Cookies</h2>
		<p>We collect some information through log files (log files) and cookies. This is mainly the following information:</p>
		<br>
		<ul>
			<li>IP address</li>
			<li>Operating system</li>
			<li>Visited pages and requests</li>
			<li>Connection time and day</li>
		</ul>
		<br>
		<p>The use of such files allows us:</p>
		<br>
		<ul>
			<li>Statistics</li>
		</ul>
		<br>
		<hr>
		<h2>Right of Opposition and Withdrawal</h2>
		<p>We are committed to offering you a right of opposition and withdrawal with regard to your personal information.<br>
			The right of opposition is understood as the possibility offered to Internet users to refuse that their personal information be used for certain purposes mentioned at the time of collection.<br><br>

			The right of withdrawal is understood as the possibility offered to Internet users to request that their personal information no longer appear, for example, on a mailing list.<br><br>

			To exercise these rights, you can contact:<br>

			Email : contact@hugoderre.com</p>
		<hr>
		<h2>Access</h2>
		<p>We commit to recognizing a right of access and rectification for individuals who wish to consult, modify, or even delete information concerning them.<br>

			This right will be exercised through:<br>
			Email: contact@hugoderre.com</p>
		<hr>
		<h2>Security</h2>
		<p>The personal information we collect is kept in a secure environment. The people working for us are required to respect the confidentiality of your information.<br>
			To ensure the security of your personal information, we use the following measures:</p>
		<br>
		<ul>
			<li>SSL Protocol (Secure Sockets Layer)</li>
		</ul>
		<br>
		<p>We are committed to maintaining a high level of confidentiality by incorporating the latest technological innovations to ensure the confidentiality of your transactions. However, as no mechanism offers maximum security, a risk is always present when using the Internet to transmit personal information.</p>
	</div>
{% endblock %}
