{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block content %}
<div class="container">
    <h1>Inscription</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}
    
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    {{ form_end(formView) }}
    
</div>
{% endblock %}
