{% extends "base.html.twig" %}

{% block content %}
	<div class="error-page">
		<h1>404</h1>
		<p class="error-page__top-label">{{ "Il semble que vous vous soyez quelque peu perdu !"|trans }}</p>
		<p class="error-page__bottom-label">{{ "La page que vous recherchez peut avoir été supprimée ou est temporairement indisponible."|trans }}</p>
	</div>
{% endblock %}