{% extends "base.html.twig" %}

{% block content %}
	<div class="error-page">
		<h1>401</h1>
		<p class="error-page__top-label">Hold Up!</p>
		<p class="error-page__bottom-label">Autorisation nécessaire pour accéder à cette ressource.</p>
	</div>
{% endblock %}