{% extends "base.html.twig" %}

{% block content %}
	<div class="error-page">
		<h1>500</h1>
		<p class="error-page__top-label">C'est cassé :(</p>
		<p class="error-page__bottom-label">Désolé, une erreur serveur interne s'est produite et nous ne pouvons traiter votre requête à l'heure actuelle.</p>
	</div>
{% endblock %}