{% extends 'admin/body.html.twig' %}

{% block content %}
    <a href="" class="btn admin-list__add-item-btn">Créer un article</a>
	<table class="admin-list__table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td class="admin-list__table__name">
                    <h2>
                        <a href="">{{ item.name }}</a>
                    </h2>
                </td>
                <td class="admin-list__table__actions">
                    <a href="" title="Modifier"><i class="fa-solid fa-file-pen"></i></a>
                    <a href="" title="Supprimer"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
	</table>
{% endblock %}
